body{
    background: #2F353E;  /* Background for Site */
}
html, button, input, select, textarea, a {
    color: #909EA4; /* General Body Text Color*/
}
.main ul li:before, h1 span, h2 span, h3 span, h4 span, .highlight, h5, h6, h1:after, h2:after, h3:after, .main-container a:hover,
.more:before, ol > li:before, .cta a:hover, .error[generated=true], .footable.breakpoint > tbody > tr > td.expand:before, blockquote cite, ul.social-link a:hover, .fancybox-opened .fancybox-title a:hover{
    color: #16AD99; /* Feature Color*/
}
a.btn, input[type=button], nav a.active, input[type=submit], #menu-icon{
    background-color: #16AD99 ; /* Button Back Ground Color*/
    color: #fff; /* Button Text Color*/
}
a.btn:hover, input[type=button]:hover, nav a:hover, input[type=submit]:hover, #menu-icon:hover, #menu-icon.active {
    background-color: #5D6B80; /* Button Back Ground Color on Hover*/
    color: #fff;
}
h1, h2, h3, h4, .nav a, h1 a, h2 a, h3 a, h4 a, #response .success, .success:before, #response .failure{
    color: #DDE6E9; /* Headings Color*/
}
strong, b, .lead, .main table th, blockquote, .more, .cta a{
    color: #DDE6E9; /* Headings Color*/
}
#masthead{
    background: #3C434D!important; /* Home Page Masthead Background Color - Match to image*/
}
.cta, .cta h1, .cta h2, .cta h4, .cta h5{
    color: #fff; /* Masthead Headings Color*/
}

.flex-control-paging li a.flex-active { background-color: #16AD99; }