.half{
    width: 47%;
    margin-right: 6%;
    float: left;
}
.third{
    width: 30%;
    /*margin-right: 5%;*/
    float: left;
}
.fourths{
    width: 22%;
    margin-right: 4%;
    float: left;
}
.two-third, .cta.two-third{
    width: 65%;
    margin-right: 5%;
    float: left;
}
.three-fourths{
    width: 74%;
    margin-right: 4%;
    float: left;
}
.left{
    float: left;
}
.right{
    float: right;
}