form{
    margin-top: 3em;
}
fieldset{
    padding: 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d9d6cf;
    margin-bottom: 1em;
}
fieldset fieldset{
    background: #ffffff;
}
label{
    font-weight: normal;
    font-family: 'robotobold';
    padding-right: 1em;
    display: block;
}
input[type=text],  input[type=email], input[type=password], textarea{
    border: 1px solid #3C434D;
    background: #3C434D;
    padding: 10px 2%;
    font-family: 'robotolight_italic';
    color: #909EA4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    margin-bottom: 1em;
    resize: none;
    display: block;
    width: 68%;
    -webkit-appearance: none;
}
 input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=password]:focus{
    border: 1px solid #16AD99;
 }
textarea{
    width: 96%;
    height: 140px;
    display: block;
    resize: none;
    outline: none;
}
select, input[type=radio], input[type=checkbox] {
    margin-bottom: 1em;
    margin-right: 6px;
}
.error[generated=true] {
    font-size: 14px;
    font-family: 'robotoitalic';
}