/* ============= Intro ===============*/

.header-container{
    display: block;
    width: 100%;
    background: url(../img/intro-large.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1-medium', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1-medium', sizingMethod='scale')";
}

#intro .wrapper {
display:table;
}

#intro .container {
display: table-cell;
vertical-align: middle;
}

/* ============= Intro Text ===============*/

.cta h1{
    font-family: 'robotoblack';
    font-size: 96px;
    margin-bottom: 15px;
    letter-spacing: -2px;
}
.cta h3{
    font-family: 'aleoitalic';
    letter-spacing: 0;
    line-height: 115%;
}
.cta h1:after, .cta h2:after, .cta h3:after {
    content: none;
}
.cta {
    width: 600px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.cta a{
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.cta em {color: #909EA4;}