#masthead{
    display: block;
    height: 1050px;
}

.cta h1{
    font-family: 'robotoblack';
    font-size: 96px;
    margin-bottom: 15px;
    letter-spacing: -2px;
}
.cta h3{
    font-family: 'aleoitalic';
    letter-spacing: 0;
    line-height: 115%;
}
.cta h1:after, .cta h2:after, .cta h3:after {
    content: none;
}
.cta {
    width: 600px;
    left:0;
    position: absolute;
    padding: 10px 0 70px;
    font-size: 18px;
}

.slides-container .wrapper {
margin: 0 auto 30px auto;
position: relative;
top: 30%;
}

.cta a{
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.cta em {color: #909EA4;}

.header-container header{
    position: absolute;
    padding-top: 60px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.header-container header .wrapper {
    padding-top: 0px;
    position: relative;
}

.header-container header.cbp-af-header-shrink {
    background-color: #2F353E;
    position: fixed;
    min-height: 70px;
    padding-top: 18px;
}

.header-container header.cbp-af-header-shrink .wrapper {
    padding-bottom: 0;
}