.header-container{
    display: block;
    width: 100%;
    background: url(../img/slide1-medium.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-1.jpg', sizingMethod='scale')";
}

.cta h1{
    font-family: 'robotoblack';
    font-size: 96px;
    margin-bottom: 15px;
    letter-spacing: -2px;
}
.cta h3{
    font-family: 'aleoitalic';
    letter-spacing: 0;
    line-height: 115%;
}
.cta h1:after, .cta h2:after, .cta h3:after {
    content: none;
}
.cta {
    width: 600px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

#slides .wrapper {
display:table;
}

#slides .container {
display: table-cell;
vertical-align: middle;
}

.cta a{
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.cta em {color: #909EA4;}

.header-container header{
    position: relative;
    padding-top: 60px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.header-container header .wrapper {
    padding-top: 0px;
    position: relative;
}

.header-container .cbp-af-header-shrink {
    display: block;
    width: 100%;
    margin:0;
    background-color: #2F353E;
    position: fixed;
    min-height: 70px;
    padding-bottom: 18px;
    z-index: 1;
}

.header-container .cbp-af-header-shrink header {
    padding-top: 20px;
}