.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.last{ margin-right: 0!important; padding-right: 0!important; }
.first{ margin-left: 0!important; padding-left: 0!important; border-left: none!important; }
.tableless, .tableless th, .tableless tr, .tableless td{
    background: none!important;
    border: none!important;
    padding: 0px!important;
}