.logo{
    max-width: 343px; /* Match logo size */
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.logo-foot{
    max-width: 145px; /* Match footer logo size */
}

.cbp-af-header-shrink .logo {
    max-width: 280px;
}