/* ==========================================================================
   Main Container General Layout Styles
   ========================================================================== */

.loadie {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 0;
	height: 5px;
	-webkit-transition: width 0.3s ease-out;
  	-moz-transition: width 0.3s ease-out;
  	-o-transition: width 0.3s ease-out;
  	transition: width 0.3s ease-out;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
}

.main-container{
	padding: 80px 0;
}
.main-container#work{
	padding: 80px 0 0 0;
}
.main-container.counter-container, .main-container.quote-container{padding: 0;}

.main-container .counter, .main-container .quote{padding: 140px 0;}

.main-content{
	width: 65%;
	float: left;
}
.main-content.full{
	width: 100%;
	float: none;
}

.main-container .counter{
	min-height: 240px;
	width: 100%;
	background: url(../img/counter-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/counter-bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/counter-bg.jpg', sizingMethod='scale')";
}

.main-container .quote{
	min-height: 120px;
	width: 100%;
	background: url(../img/bg-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-1.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-1.jpg', sizingMethod='scale')";
}

.main-content img, .right-aside img{
	max-width: 100%;width: 100%;
	background: #16AD99;
	border: 6px solid #292D36;
	margin: 1em 0;
	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
}
a img{
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	opacity: 1;
	position: relative;
}
a img:hover{
	opacity: .6;
}

a img.nofade:hover {
	opacity: 1;
}

.right-aside{
	float: right;
	width: 24%;
	border-left: 1px solid #434952;
	padding-left: 4%;
}
.right-aside img{
	width: 100%;
}

img.no-border{
	border: none;
}



/* ============= Buttons ===============*/
a.btn, input[type=button], input[type=submit]{
	border: none;
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	font-family: 'robotobold';
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: .6em 1.2em;
	white-space: nowrap;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
}
a.btn:hover{
	color: #fff;
}
a.small-btn{
	font-size: 14px;
	padding: .4em .9em;
}
a.xsmall-btn{
	font-size: 12px;
	padding: .2em .7em;
}



/* ============= Tables ===============*/
.main table{
	border: 1px solid #dde1e5;
	text-align: left;
	width: 100%;
	background: #ffffff;
}
.main table th{
	padding: .5em;
	border: 1px solid #dde1e5;
	background-color: #ebedef;
	vertical-align: top;
}
.main table td{
	padding: .5em;
	border: 1px solid #dde1e5;
	vertical-align: top;
}
.main table tr:nth-child(2n+1){
	background-color: #f8f8f8;
}



/* ==========================================================================
   custom styles
   ========================================================================== */

.center{
	text-align: center;
}


.flexslider-quote blockquote{
	 font-family: 'aleolightitalic';
	 font-size: 32px;
}

.fancybox-title-float-wrap .child{
	background: #2F353E;
	text-shadow: none;
}

.fancybox-opened .fancybox-title a{
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	cursor: pointer;
}

.fancybox-opened .fancybox-title a:hover{
	color: #16AD99;
}
