ul.filters{
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}
ul.filters li:before{
    content: "q";
}
ul.filters li{
    display: inline-block;
    margin-right: 1em;
    border-right: 1px solid #434952;
    padding-right: 1.2em;
}
ul.filters a {
    font-size: 18px;
    font-family: 'robotoregular';
}
ul.filters li:last-child{
    border: none;
    margin-right: 0;
}
ul.filters li.active a{
    color: #16AD99;
}

.mosaic-block {
    position:relative;
    overflow:hidden;
    background:#292D36 url(../img/progress.gif) no-repeat center center;
/*  margin: 1em 0;
    border: 5px solid #292D36;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
}

.images_container .sevenths {
    width: 14.28571428571429%;
}

.mosaic-block img{
    margin: 0;
    border: none;
    width: 100%;
    height: auto;
}
.mosaic-backdrop {
    display:none;
    top:0;
    height:100%;
    background:#292D36;
}

.mosaic-overlay {
    display:none;
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    background:#111;
}
.fade .mosaic-overlay {
    background:url(../img/hover-magnify.png) no-repeat center center;
    background-size: 49px 49px;
    background-color: rgba(41, 45, 54, .4);
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=00);
    display:none;
}
@media (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {
    /* on retina, use image that's scaled by 2 */
.fade .mosaic-overlay{
    background: url(../img/hover-magnify@2x.png) no-repeat center 0; /*Image of iphone 5 in hand */
    background-size: 98px 98px;
}
}

.fade .mosaic-overlay.goto_post{
    background:url(../img/hover-gotopost.png) no-repeat center center;
    background-size: 49px 49px;
    background-color: rgba(22, 173, 153, .3);
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=00);
    display:none;
}
@media (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {
    /* on retina, use image that's scaled by 2 */
.fade .mosaic-overlay.goto_post{
    background: url(img/hover-gotopost@2x.png) no-repeat center 0; /*Image of iphone 5 in hand */
    background-size: 98px 98px;
}
}