header.cbp-af-header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 45px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    z-index: 1;
}

.header-container header.cbp-af-header-shrink {
    display: block;
    width: 100%;
    margin:0;
    background-color: #2F353E;
    position: fixed;
    min-height: 52px;
    padding-bottom: 15px;
    padding-top:15px;
    z-index: 1;
}

.logo{
    display: inline-block;
    float: left;
    max-width: 343px; /* Match logo size */
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.logo img, .logo-foot img{
    width: 100%;
}

.cbp-af-header-shrink .logo img{
    max-width: 250px;
}

.logo-foot{
    max-width: 145px; /* Match footer logo size */
}

#nav-wrap {
    position: relative;
    top: 0px;
    right: 0px;
}

.header-container nav{
    float: right;
    margin-top: 10px;
}

.cbp-af-header-shrink nav{
    margin-top: 7px;
}

.header-container .nav li{
    float: left;
    position: relative;
    padding: .4em .4em;
}
.nav a{
    font-family: 'robotobold_condensed';
    font-size: 20px;
    padding: 0.3em 1.2em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.nav a:hover {
    background-color: #16AD99;
}
.tinynav {
    display: none;
    width: 100%;
    margin-top: .5em;
    margin-bottom: .6em;
}

/* menu icon */
#menu-icon {
    display: none;
    font-family: 'robotobold_condensed';
    font-size: 20px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
#menu-icon span{
    width: 32px;
    height: 23px;
    display: inline-block;
    padding-right: 10px;
    position: relative;
    top: -2px;
}
#menu-icon span img{
    width: 100%;
}