        /* ==========================================================================
   Media Queries 480
   ========================================================================== */
@media only screen and (max-width: 480px) {
     input[type=text],  input[type=email], input[type=password], textarea, a.btn, input[type=button], input[type=submit]{
        padding: 10px 2%;
        width: 96%;
    }

    .logo {
        max-width: 70px;
        overflow: hidden;
    }

    .cbp-af-header-shrink .logo {
        max-width: 50px;
    }

    .logo img {
        width: 343px;
    }

    h1 {
        font-size: 54px;
    }

    a.btn, input[type=button]{
        text-align: center;
    }
    a.small-btn{
        font-size: 14px;
        padding: .4em 2%;
    }
    a.xsmall-btn{
        font-size: 12px;
        padding: .2em 2%;
    }
    iframe{
        max-height: 320px;
    }

    .statistics li h4{
    font-size: 36px;
    }
}



/* ==========================================================================
   Media Queries 600
   ========================================================================== */
@media only screen and (max-width: 600px) {




    .main-content img{
        width: 100%;
    }

    .cta.two-third{
        width: 100%;
        margin-right: 0%;
        float: none;
    }

    .statistics li h5 {
        font-size: 38px;
    }

    /* ============= Tables ===============*/
        .main table{
            border-left: 1px solid #cad2d7;
            border-right: 1px solid #cad2d7;
            border-top: none;
            border-bottom: none;
        }

}


/* ==========================================================================
   Media Queries 768
   ========================================================================== */
@media only screen and (max-width: 768px) {

    /* ============= Main Container General Layout Styles===============*/
    .header-container header{
        padding: 30px 0 25px;
        text-align: left;
    }
    .main-content, .right-aside{
        width: 100%;
        float: none;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
    .main-container{
        padding: 25px 0 10px;
    }
    .right-aside{
        border-top: 1px solid #434952;
        margin-top: 25px;
    }

    .main-container .counter, .main-container .quote {
        background-attachment: scroll!important;
        background-position: center top !important;
    }



    /* ============= Columns ===============*/
    .third, .half, .fourths, .sevenths, .two-third, ol.icon-lists li, ul.flag-lists li, .three-fourths, .foot.left, .foot.right{
        width: 100%;
        margin-right: 0%;
        float: none;
    }
    .third, .half, .fourths, .two-third, .three-fourths{
        margin-bottom: 30px;
    }
    .images_container .sevenths {
    width: 50%;
    }

    .foot.left, .foot.right{
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    .mosaic-block.third{
        width: 30%;
        margin-right: 5%;
        float: left;
    }

    .statistics li h6 {
        font-size: 16px;
    }

 }

 /* ==========================================================================
   Media Queries 868
   ========================================================================== */
@media only screen and (max-width: 853px) {

    .header-container nav{
        text-align: left;
    }
    #nav{
        display: none;
    }
    #nav {
        clear: both;
        position: absolute;
        top: 40px;
        min-width: 160px;
        z-index: 10000;
        padding: 0;
        display: none;
        right: 0px;
        background: #5D6B80;
        -webkit-border-radius: 3px 0px 3px 3px;
        border-radius: 3px 0px 3px 3px;
    }
    #nav li {
        clear: both;
        float: none;
        padding: 0;
    }
    #nav a, #nav ul a {
        font: inherit;
        background: none;
        display: block;
        padding: 0.2em 10px;
        border: none;
        color: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    #nav a:hover, #nav ul a:hover{
        color: #16ad99;
        background: #586678;
    }
    #nav ul {
        width: auto;
        position: static;
        display: block;
        border: none;
        background: inherit;
    }
    #nav ul li a{
        padding-left: 0;
    }
    #nav-wrap {
        position: relative;
    }

    #menu-icon {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

}



/* ==========================================================================
   Media Queries 1024
   ========================================================================== */

@media only screen and (max-width: 1024px) {

    .cta h1 {font-size: 80px;}
    #intro .cta {width: 445px;}

    .header-container{
    background: url(../img/intro-medium.jpg) no-repeat center center;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1-medium', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1-medium', sizingMethod='scale')";
    }
}
@media only screen and (max-width: 968px) {
    .cta h1 {font-size: 70px;}
    #intro .cta {width: 445px;}
}

@media only screen and (max-width: 480px) {
    .cta h1 {font-size: 50px;}
    #intro .cta {width: 100%;}
    .header-container{
    background: url(../img/intro-small.jpg) no-repeat center center;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1-medium', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slide1-medium', sizingMethod='scale')";
    }
}

/* ==========================================================================
   Media Queries 1140
   ========================================================================== */
@media only screen and (max-width: 1140px) {
    .wrapper { width: 92%; margin: 0 4%; }
}