h1, h2, h3, h4, h5, h6, p{
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    line-height: 100%;
    letter-spacing: -1px;
    margin: 25px 0 .5em;
}
h1{
    font-size: 92px;
    margin: 25px 0 .1em;
}
h2{
    font-size: 36px;
    margin-top: 15px;
}
h3{
    font-size: 28px;
}
h4, h5{
    font-size: 24px;
}
h6{
    font-size: 14px;
    letter-spacing: 0px;
    position: relative;
}
h6.meta, blockquote h6{
    top: -1.4em;
}
strong, h1, h2, h3, h4, h5, h6, b, .more, ol > li:before, .cta a{
    font-family: 'robotobold';
    font-weight: normal;
}
h1:after, h2:after, h3:after{
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
}
em{
    font-style: normal;
    font-family: 'robotoitalic';
}
.lead, blockquote{
    font-size: 24px;
    line-height: 32px;
    font-family: 'aleoitalic';
}
cite{
    font-family: 'robotobold';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
blockquote cite{
    display: block;
    text-transform: uppercase;
    margin-top: 1em;
}
.lead{
    margin-top: 0;
}

/*.main-container a{
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -ms-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
    cursor: pointer;
}*/


hr { display: block; height: 1px; border: 0; border-top: 1px solid #434952; padding: 0; margin: 3em 0; }
hr.dash { display: block; height: 1px; border: 0; border-top: 1px dashed #434952; margin: 3em 0; padding: 0; }
hr.dots { display: block; height: 1px; border: 0; border-top: 1px dotted #434952; margin: 3em 0; padding: 0; }


iframe{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    width: 98%;
}
.fluid-width-video-wrapper{
    margin-bottom: 1em;
    background-color: #ffffff;
}
.fluid-width-video-wrapper iframe{
    width: 100%;
    padding: 0;
    margin: 0;
}


blockquote, blockquote.right, blockquote.left{
    margin: 0 3% 3%;
}
