.panel-group .panel {
    margin-bottom: 10px;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
    padding: 0;
    background: none !important;
    border: 0 !important;
}
.panel-heading .panel-title {
    border: 1px solid rgba(0,0,0,0.1);
    color: #444;
    background: #FFF;
    font-size: 14px;
    font-weight: 700;
    font-family: 'aleoitalic', serif;
}
.panel-title > a {
    display: block;
    color: #444;
    padding: 15px 20px;
}
.panel-title > a:hover {
    color: #16AD99
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: 0
}
.panel-default > .panel-heading + .panel-collapse {
    border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
    background: #FFF;
}
.panel-body {
    padding: 20px
}