.btn,
.parallax .btn-submit,
.btn-submit {
    color: #fff !important;
    background: #16AD99;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 11px 20px 10px 20px;
    font-weight: 500;
    font-size: 13px;
    text-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
}
.parallax .btn {
    color: #fff !important;
    background: transparent;
    border: 1px solid #FFF;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 11px 20px 10px 20px;
    font-weight: 500;
    font-size: 13px;
    text-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
}


.btn-large {
    padding: 13px 23px 13px 23px
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #5D6B80;
    color: #fff !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.parallax .btn:hover,
.parallax .btn:focus,
.parallax .btn:active,
.parallax .btn.active {
    background: #16AD99;
    border: 1px solid #16AD99;
    color: #fff !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.share {
    margin-bottom: 15px
}
.share .btn {
    background: none;
    padding: 8px 17px;
}
.share .btn:hover {
    color: #FFF !important
}
.btn.share-facebook {
    color: #3d5b9b !important;
    border: 1px solid #3d5b9b !important;
}
.btn.share-facebook:hover {
    background: #334c8e !important;
    border: 1px solid #334c8e !important;
}
.btn.share-twitter {
    color: #5aa8cd !important;
    border: 1px solid #5aa8cd !important;
}
.btn.share-twitter:hover {
    background: #499ac8 !important;
    border: 1px solid #499ac8 !important;
}
.btn.share-googleplus {
    color: #3b3b3b !important;
    border: 1px solid #3b3b3b !important;
}
.btn.share-googleplus:hover {
    background: #2e2e2e!important;
    border: 1px solid #2e2e2e !important;
}
.btn.share-pinterest {
    color: #c53942 !important;
    border: 1px solid #c53942 !important;
}
.btn.share-pinterest:hover {
    background: #bc2d32 !important;
    border: 1px solid #bc2d32 !important;
}
.black-wrapper .btn {
    border: 1px solid #797979;
    background: none;
    color: #a6a6a6 !important;
}
.black-wrapper .btn:hover {
    border: 1px solid #16AD99;
    color: #16AD99 !important;
}
.btn i {
    margin-right: 6px
}