.footer {
    background: #2F353E;
    color: #cacaca;
}
.footer a {
    color: #cacaca
}
.footer a:hover {
    color: #16AD99
}
.footer .inner {
    padding-top: 35px;
    padding-bottom: 35px;
}
.footer p {
    padding: 0;
    margin: 0;
}
.footer p.pull-left {
    margin-top: 3px
}
.footer.widget-footer {
    background: #232323
}
.footer.widget-footer .inner {
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer.widget-footer p {
    margin: 0 0 15px
}
.sub-footer {
    background: #1e1e1e;
    padding-top: 35px;
    padding-bottom: 35px;
}
.sub-footer p {
    padding: 0 !important;
    margin: 0 !important;
}
.sub-footer p.pull-left {
    margin-top: 3px !important
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}
.widget-title {
    font-size: 16px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
footer .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .post-list li {
    margin-top: 15px
}
footer .post-list li:first-child {
    margin: 0
}
footer .post-list li h6 {
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    margin: 0;
    color: #cacaca;
}
footer .post-list li em {
    color: #838383;
    font-size: 12px;
    font-style: normal;
}
.tagcloud {
    line-height: 25px
}
.contact-info {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-info i {
    margin-right: 7px
}
.footer .contact-info i {
    color: #f0f0f0
}
.footer .widget.single .contact-info li {
    display: inline;
    margin: 0 15px;
}
.footer hr {
    border-color: #535353;
    padding-bottom: 20px;
    margin-bottom: 50px;
}