.forms {
    position: relative;
    padding: 0;
    width: 100%;
}
.form-container .response {
    display: none
}
.forms ol {
    margin: 0;
    padding: 0;
}
.forms ol li {
    line-height: auto;
    list-style: none;
}
.forms li.hidden-row {
    display: none
}
input,
textarea,
.uneditable-input {
    width: 100%
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #737373;
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 1px solid rgba(0,0,0,0.2);
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    height: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    min-height: 150px;
    resize: vertical;
}
.btn-submit {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width: auto;
}
.forms li.error input,
.forms li.error textarea {
    border: 1px solid #b54d4d
}
.forms span.error {
    display: none
}
.forms .button-row span.error {
    padding: 0;
    display: none;
}
.forms .button-row p.forgot {
    padding: 6px 0 0 10px;
    overflow: hidden;
    display: inline-block;
}
.forms label {
    display: block;
    float: left;
    width: 95px;
    padding-top: 7px;
    font-size: 13px;
    clear: both;
}
.comment-form div label {
    position: absolute;
    top: 0;
    left: 0;
}
.form-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.searchform {
    position: relative
}
.searchform .btn {
    position: absolute;
    top: 0;
    right: -5px;
    height: 40px !important;
    padding: 0 15px !important;
}