.sidebar {
    padding-left: 25px !important
}
.sidebar.left-sidebar {
    padding: 15px !important;
    padding-top: 0 !important;
}
.sidebox {
    margin-top: 50px;
    display: block;
}
.sidebox:first-child {
    margin: 0
}
.sidebox .post-list {
    padding: 0;
    margin: 0;
}
.sidebox .post-list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sidebox .post-list li {
    clear: both;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}
.sidebox .post-list h6 {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.sidebox .post-list h6 a {
    font-size: 14px;
    line-height: 22px;
}
.sidebox a {
    color: #666
}
.sidebox a:hover {
    color: #16AD99
}
.sidebox .post-list .icon-overlay {
    float: left;
    width: 70px;
    height: 70px;
}
.sidebox .post-list .meta {
    margin-left: 85px;
    margin-bottom: 0;
}
.sidebox .post-list .meta em {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
}
.sidebox .post-list .meta em:before {
    display: none
}
.sidebox.widget form {
    margin: 0
}
.sidebox.widget .searchform input {
    margin: 0
}
.widget .list {
    list-style: none;
    margin: 0;
}