@font-face {
    font-family: 'geomanist_reg';
    src: url('../font/geomanist-regular.woff2') format('woff2'),
         url('../font/geomanist-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'geomanist_bold';
    src: url('../font/geomanist-bold.woff2') format('woff2'),
         url('../font/geomanist-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'palatino';
    src: url('../font/palatino-italic.woff2') format('woff2'),
         url('../font/palatino-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
